@* @model diz que a View tem a disposiçao dela a classe Seller*@

@model SalesWebMVC.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*Sumario do formulario de validaçao de campos
               <div asp-validation-summary="All" class="text-danger"></div>
            *@

            @*Criaçao dos campos*@
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"> </label>
                <input asp-for="Seller.Name" class="form-control" />
                @*adicionando validaçao perto dos campos*@
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"> </label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"> </label>
                <input asp-for="Seller.BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"> </label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
            </div>
            @*Criaçao do botao para cadastrar*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*habilita a validaçao por meio de JS*@
@section Scripts{ 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}